.title-bar {
    display: flex;
    align-items: baseline;
    width: 60%;
    margin: 0 auto;
}

.title {
    /* TODO: change font  */
    font-size: 2rem;
    padding-right: 0.5rem;
    margin: 1rem 0;
}

header, section {
    width: 60%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}



