.nav-bar{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar {
    display: flex;
    align-items: baseline;
}

.title {
    /* TODO: change font  */
    font-size: 2rem;
    padding-right: 0.5rem;
    margin: 1rem 0;
}

header, section {
    width: 60%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.chosen-for-you {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-right: 1px solid #ccc;
}

.main-chosen {
    height: 50vh;
}

.rest-chosen {
    margin-left: 1rem;
    height: 50vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.recent-top-topics {
    margin-left: 1rem;
}

.trending {
    border-top: 1px solid #ccc;
    padding-top: 1rem; 
}

.trending-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    margin-top: 1rem;
    align-items: stretch;
}