@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:visited {
  text-decoration: none;
}

header,
section {
  width: 60%;
  margin: 0 auto;
}

.article {
  width: 40%;
  margin: 0 auto;
}

footer {
  background: black;
  color: white;
  margin-top: 1rem;
  padding: 1rem;
}

.comp-options {
  display: flex;
}

.option-button {
  height: 22px;
  width: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  cursor: pointer;
}

.option-button:hover {
  background: #e7e7e7;
}

.btn {
  background: #f55742;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  color: white;

  cursor: pointer;
}
